:root {
  --header-color: rgba(175, 244, 198, 0.7);
  --heading-name-font: "Indie Flower", serif;
  --heading-text-font: "Inter", serif;
  --text-font: "Inter", serif;
  --button-color: #bde3ff;
  --button-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--text-font);
  font-weight: bold;
}

p {
  font-family: var(--text-font);
  font-weight: normal;
}

.header {
  background: rgba(175, 244, 198, 0.7);
  text-align: center;
  padding: 100px 0;
}

.header p {
  font-size: 36px;
  font-weight: bold;
}

.header h1 {
  font-family: var(--heading-name-font);
  font-weight: lighter;
  font-size: 60px;
}

.header h2 {
  font-family: var(--heading-text-font);
  font-weight: normal;
  font-size: 17px;
  color: #272142;
  padding-bottom: 50px;
}

.btn-branding {
  background: var(--button-color);
  font-family: "Inter", serif;
  font-size: 18px;
  font-weight: medium;
  padding: 16px 20px 16px 20px;
  border-radius: 27px;
  width: 150px;
  box-shadow: var(--button-shadow);
}
