h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: "Inter", serif;
  font-weight: bold;
}

p {
  font-family: "Inter", serif;
  font-weight: normal;
}

.header {
  background: rgba(175, 244, 198, 0.7);
  text-align: center;
  padding: 100px 0;
}

.header p {
  font-size: 36px;
  font-weight: bold;
}

.header h1 {
  font-family: "Indie Flower", serif;
  font-weight: lighter;
  font-size: 60px;
}

.header h2 {
  font-family: "Inter", serif;
  font-weight: normal;
  font-size: 17px;
  color: #272142;
  padding-bottom: 50px;
}

.btn-branding {
  background: #bde3ff !important;
  font-family: "Inter", serif;
  font-size: 18px;
  font-weight: medium;
  padding: 16px 20px 16px 20px;
  border-radius: 28px;
  width: 150px;
}
