:root {
  --header-color: rgba(175, 244, 198, 0.7);
  --heading-name-font: "Indie Flower", serif;
  --heading-text-font: "Inter", serif;
  --text-font: "Inter", serif;
  --button-color-blue: rgba(189, 227, 255, 1);
  --button-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --button-background-hover: rgba(175, 244, 198, 0.2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--text-font);
  font-weight: bold;
}

p {
  font-family: var(--text-font);
  font-weight: normal;
}

.header {
  background: rgba(175, 244, 198, 0.7);
  text-align: center;
  margin-bottom: 150px;
}

.header p {
  font-size: 36px;
  font-weight: bold;
}

.header h1 {
  font-family: var(--heading-name-font);
  font-weight: lighter;
  font-size: 60px;
}

.header h2 {
  font-family: var(--heading-text-font);
  font-weight: normal;
  font-size: 17px;
  color: #272142;
  padding-bottom: 50px;
}

.btn-branding {
  background: var(--button-color-blue);
  font-family: "Inter", serif;
  font-size: 18px;
  font-weight: medium;
  padding: 16px 20px 16px 20px;
  border-radius: 27px;
  width: 150px;
  box-shadow: var(--button-shadow);
}

.project-link {
  background: rgba(228, 204, 255, 0.7);
  color: rgb(255, 255, 255);
  border-radius: 27px;
  padding: 12px 16px 12px 16px;
  width: 100px;
  box-shadow: var(--button-shadow);
  font-family: var(--text-font);
}

.weather-link:hover {
  background: white;
  border-color: rgba(228, 204, 255, 1);
}

.clock-link:hover {
  background: white;
  border-color: rgba(255, 199, 194, 1);
}

.food-link:hover {
  background: white;
  border-color: rgba(189, 227, 255, 1);
}

.bg-purple {
  background: rgba(228, 204, 255, 0.7);
}

.bg-pink {
  background: rgba(255, 199, 194, 0.7);
}

.bg-blue {
  background: rgba(189, 227, 255, 0.7);
}

.footer {
  background: rgba(255, 166, 41, 0.6);
  height: 60px;
  margin-top: 150px;
}

.icons {
  font-size: 32px;
}

.email-margin {
  margin-top: 50px !important;
}

.contact-me {
  margin-top: 150px;
  font-size: 46px;
  font-family: var(--heading-name-font);
  text-align: center;
}
